body {	
	background: #FFFFFF;
	color: #000000; 
	font-family: verdana, arial, sans-serif; 
	font-weight: normal;
	font-size: 12px;
	list-style: outside;
}
table {
        font-size: 12px;
}
a:link { 
	color: #003355;
	text-decoration: none;
	font-weight: bold; 
} 
a:visited { 
	color: #003355; 
	text-decoration: none;
	font-weight: bold; 
}
a:hover {
	text-decoration: underline;
	font-weight: bold; 
}

b { 
	font-weight: bold; 
}

em {
	font-style: oblique;
}

h1 {    
	font-size: x-large;
	font-weight: bold; 
	font-style: oblique; 
}
h2 { 
	font-size: x-large; 
	font-weight: bold;
}
h3 { 
	font-size: large;
	font-weight: bold;
}

h4 { 
	font-size: large;
	font-weight: normal; 
}
sup {
	font-size: x-small;
} 
sub {
	font-size: x-small;
} 

.main {
/*
	padding-left: 1em;
	padding-right: 1em;
	border: 0;
	margin: 0;
*/
}

.linkstable {
	align: right;
	border-width: 1;
	border-style: solid;
	border-color: #a08030;
	padding-left: 0em; 
	padding-right: 0em; 
	padding-bottom: 0em; 
	padding-top: 0em; 
	background-color: #e0e0c0; 
}

ul.links {
	border: 0;
	margin-left: 1.5em;
	padding: 0;
	text-decoration: none;
	text-align: left; 
	font-size: small; 
}

.header {
  font-size: larger;
}

.linkstitle {
	border-width: 0;
	text-align: center; 
	font-weight: bold; 
	font-size: smaller;
	color: white;
}

.menu {
	width: 100%;
	background-color: #e0e0c0;
	padding: .2em 1em .2em 1em;
	border: 0;
	margin: 0;
}

.subheading {
        font-size: large;
}
.paperlinks {
	background-color: #b0b0b0; 
	font-size: small;
	text-align: right; 
	padding: 0.2em; 
	margin-right: .4em;
}
.docinfo { 
	width: 100%;
 	margin: 0 0 0 0;
	border-width: 0 0 0 0;
	padding: .2em .2em .2em .2em;
	font-size: small;
	text-align: right; 
	background-color: #c0c0b0; 
	padding-bottom : 0.2em; 
}
.headline { 
	width: 100%;
	margin: 0 0 0 0;
	border: 0 0 0 0;
	padding: .2em .2em .2em .2em;
	text-align: right; 
	background-color: #c0c0b0; 
}
.subheadline { 
	width: 100%;
	margin: 0 0 0 0;
	border: 0 0 0 0;
	padding: .2em .2em .2em .2em;
	text-align: left; 
	background-color: #e0e0c0;
}

code { 
	font-family: monospace; 
	font-size: medium;
}
pre { 
	font-family: monospace; 
	margin-left: 2em; 
}
dt, dd, ul { 
	margin-top: 0; 
	margin-bottom: 0; 
}
dt { 
	font-weight: bold; 
}
ol li {
	margin-top: 3; 
	margin-bottom: 3;
}
ul li {
	margin-top: 0; 
	margin-bottom: 0;
}

.block {
	background:#f0f0f0; 
	padding:10px;
	}
.adblock {
	border-style: dashed;
	background:#f0f0f0; 
	padding:10px;
	border-width: 1px; 
	border-color: #000000;
	}
.blockitem {background:#FFFFFF; padding:0px;}
.poster {background:#FF9966; padding:0px;}
